body {
    margin: 0px;
    font-family: "candara";
    font-size: 16pt;
}
header {
    background-color: antiquewhite;
    min-height: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18pt;
    padding-top: 30px;
}
#links {
    cursor: pointer;
}

main, .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.card {
    flex-direction:column;
    max-width: 800px;
    max-height: 500px;
    border: 1px solid gray;
    margin-bottom: 60px;
    padding: 20px;
}
h2 {
    font-size: 36pt;
}
.more {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gainsboro;
    background-color: white;
    /* width: 120px;*/
    height: 60px; 
    font-weight: bold;
    font-size: 18pt;
}
.more:hover{
    box-shadow: none;
}
.hide {
    display: none;
}
.show {
    display: flex;
}
.sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    padding: 40px;
}
.timer {
    font-size: 56pt;    
    margin: 30px;
}